In [2]:
import numpy as np
import pandas as pd

In [3]:
product_name = np.random.choice(['Moto G6', 'Apple iPhone 6', 'Honor 7X', 'BLU Studio X8', 'Moto E (4th Generation)', 'Moto G PLUS', 'Nokia 6.1', 'Lg Vn170', 'Moto X (4th Generation)', 'Apple iPhone', 'Samsung Galaxy S9+'], 1000, p=[0.01, 0.09, 0.04, 0.06, 0.2, 0.1 ,0.1, 0.04, 0.06, 0.2, 0.1])
shipping_type = np.random.choice(['Free', 'Customer Paid'], 1000, p=[0.7,0.3])
customer_type = np.random.choice(['New', 'Existing'], 1000, p=[0.2,0.8])
location = np.random.choice(['Sydney', 'Newcastle', 'Central Coast', 'Wollongong', 'Albury'], 1000, p=[0.2,0.5,0.1,0.1,0.1])

In [4]:
dataset = pd.DataFrame({'Product_name' : product_name, 'Shipping_Type' : shipping_type, 'Customer_type' : customer_type, 'Location' : location})
dataset.head()

  Customer_type       Location             Product_name  Shipping_Type
0      Existing         Sydney                Nokia 6.1  Customer Paid
1           New  Central Coast             Apple iPhone           Free
2      Existing         Sydney              Moto G PLUS           Free
3           New      Newcastle  Moto X (4th Generation)           Free
4      Existing         Sydney           Apple iPhone 6           Free

In [5]:
product_data = pd.DataFrame(columns = ['Product_name', 'Product_price', 'Monthly_sales', 'No_of_cust_who_bought'])
product_data['Product_name'] = ['Moto G6', 'Apple iPhone 6', 'Honor 7X', 'BLU Studio X8', 'Moto E (4th Generation)', 'Moto G PLUS', 'Nokia 6.1', 'Lg Vn170', 'Moto X (4th Generation)', 'Apple iPhone', 'Samsung Galaxy S9+']
product_data['Product_price'] = [100, 245, 205, 97, 90, 120, 300, 200, 180, 101, 100]
product_data['Monthly_sales'] = [1571, 4080, 280, 3004, 7527, 1000, 705, 1789, 4000, 1560, 5571]
product_data

,Product_name,Product_price,Monthly_sales,No_of_cust_who_bought
0,Moto G6,100,1571,NaN
1,Apple iPhone 6,245,4080,NaN
2,Honor 7X,205,280,NaN
3,BLU Studio X8,97,3004,NaN
4,Moto E (4th Generation),90,7527,NaN
5,Moto G PLUS,120,1000,NaN
6,Nokia 6.1,300,705,NaN
7,Lg Vn170,200,1789,NaN
8,Moto X (4th Generation),180,4000,NaN
9,Apple iPhone,101,1560,NaN
10,Samsung Galaxy S9+,100,5571,NaN

In [6]:
dataset = dataset.merge(product_data, right_on = 'Product_name', left_on = 'Product_name', how = 'outer')

In [7]:
dataset.sample(frac = 1)

,Customer_type,Location,Product_name,Shipping_Type,Product_price,Monthly_sales,No_of_cust_who_bought
830,Existing,Central Coast,Samsung Galaxy S9+,Free,100,5571,NaN
209,New,Newcastle,Apple iPhone,Customer Paid,101,1560,NaN
489,Existing,Wollongong,Apple iPhone 6,Free,245,4080,NaN
733,New,Central Coast,Moto E (4th Generation),Free,90,7527,NaN
179,Existing,Newcastle,Apple iPhone,Free,101,1560,NaN
447,Existing,Sydney,Moto X (4th Generation),Free,180,4000,NaN
91,Existing,Sydney,Nokia 6.1,Free,300,705,NaN
910,Existing,Albury,BLU Studio X8,Customer Paid,97,3004,NaN
271,New,Newcastle,Apple iPhone,Customer Paid,101,1560,NaN
502,Existing,Wollongong,Apple iPhone 6,Free,245,4080,NaN
377,New,Sydney,Moto G PLUS,Free,120,1000,NaN
947,Existing,Sydney,Honor 7X,Free,205,280,NaN
929,Existing,Sydney,BLU Studio X8,Customer Paid,97,3004,NaN
163,Existing,Newcastle,Apple iPhone,Free,101,1560,NaN
541,New,Albury,Apple iPhone 6,Free,245,4080,NaN
390,New,Albury,Moto G PLUS,Customer Paid,120,1000,NaN
33,Existing,Newcastle,Nokia 6.1,Customer Paid,300,705,NaN
788,Existing,Central Coast,Samsung Galaxy S9+,Free,100,5571,NaN
609,Existing,Newcastle,Moto E (4th Generation),Customer Paid,90,7527,NaN
811,New,Newcastle,Samsung Galaxy S9+,Customer Paid,100,5571,NaN
161,Existing,Newcastle,Apple iPhone,Free,101,1560,NaN
520,Existing,Sydney,Apple iPhone 6,Free,245,4080,NaN
337,New,Newcastle,Moto G PLUS,Customer Paid,120,1000,NaN
845,Existing,Central Coast,Lg Vn170,Customer Paid,200,1789,NaN
816,Existing,Newcastle,Samsung Galaxy S9+,Free,100,5571,NaN
860,New,Wollongong,Lg Vn170,Free,200,1789,NaN
255,Existing,Sydney,Apple iPhone,Free,101,1560,NaN
210,New,Newcastle,Apple iPhone,Free,101,1560,NaN
21,Existing,Sydney,Nokia 6.1,Customer Paid,300,705,NaN
178,Existing,Albury,Apple iPhone,Free,101,1560,NaN
...,...,...,...,...,...,...,...
279,Existing,Sydney,Apple iPhone,Free,101,1560,NaN
759,New,Albury,Samsung Galaxy S9+,Free,100,5571,NaN
713,Existing,Albury,Moto E (4th Generation),Customer Paid,90,7527,NaN
327,Existing,Newcastle,Moto G PLUS,Free,120,1000,NaN
269,Existing,Newcastle,Apple iPhone,Free,101,1560,NaN
634,Existing,Newcastle,Moto E (4th Generation),Customer Paid,90,7527,NaN
429,Existing,Newcastle,Moto X (4th Generation),Free,180,4000,NaN
170,New,Albury,Apple iPhone,Free,101,1560,NaN
569,Existing,Sydney,Moto E (4th Generation),Customer Paid,90,7527,NaN
354,Existing,Sydney,Moto G PLUS,Free,120,1000,NaN
711,Existing,Central Coast,Moto E (4th Generation),Free,90,7527,NaN
493,Existing,Newcastle,Apple iPhone 6,Free,245,4080,NaN
119,Existing,Sydney,Apple iPhone,Free,101,1560,NaN
738,Existing,Sydney,Moto E (4th Generation),Customer Paid,90,7527,NaN
479,Existing,Newcastle,Apple iPhone 6,Free,245,4080,NaN
510,Existing,Albury,Apple iPhone 6,Free,245,4080,NaN
252,Existing,Albury,Apple iPhone,Free,101,1560,NaN
116,Existing,Newcastle,Apple iPhone,Free,101,1560,NaN
329,Existing,Wollongong,Moto G PLUS,Customer Paid,120,1000,NaN
552,Existing,Newcastle,Moto E (4th Generation),Customer Paid,90,7527,NaN
526,Existing,Wollongong,Apple iPhone 6,Free,245,4080,NaN
219,Existing,Albury,Apple iPhone,Free,101,1560,NaN
27,Existing,Newcastle,Nokia 6.1,Free,300,705,NaN
720,Existing,Newcastle,Moto E (4th Generation),Free,90,7527,NaN
407,Existing,Wollongong,Moto X (4th Generation),Customer Paid,180,4000,NaN
813,Existing,Wollongong,Samsung Galaxy S9+,Customer Paid,100,5571,NaN
989,Existing,Sydney,Moto G6,Customer Paid,100,1571,NaN
545,Existing,Newcastle,Apple iPhone 6,Free,245,4080,NaN
805,Existing,Newcastle,Samsung Galaxy S9+,Free,100,5571,NaN
873,Existing,Newcastle,BLU Studio X8,Free,97,3004,NaN